<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @entry_form.contact %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @entry_form.organization %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @entry_form.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @entry_form.email %>
</p>

<p>
  <strong>Food amount:</strong>
  <%= @entry_form.food_amount %>
</p>

<p>
  <strong>Food other:</strong>
  <%= @entry_form.food_other %>
</p>

<p>
  <strong>Electricity:</strong>
  <%= @entry_form.electricity %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @entry_form.internet %>
</p>

<p>
  <strong>Seminar:</strong>
  <%= @entry_form.seminar %>
</p>

<%= link_to 'Edit', edit_entry_form_path(@entry_form) %> |
<%= link_to 'Back', entry_forms_path %>
