<h1>Välkommen till administrationssidan!</h1>
<%= Time.now%><br>
<%= (@total_newsfeeds) %> Nyheter är inlagda i systemet<br>
<%= (@total_categories) %> Utställar kategorier är inlagda i systemet<br>
<%= (@total_exhibitors) %> Utställare är inlagda i systemet<br>
<%= (@total_rooms) %> Seminarielokaler är inlagda i systemet<br>
<%= (@total_schedules) %> Schemahändelser är inlagda i systemet<br>