<%= form_for(@map) do |f| %>
  <% if @map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@map.errors.count, "error") %> förhindrade kartan från att bli sparad</h2>

      <ul>
      <% @map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
  <div class="actions">
    <%= f.submit 'Spara' %>
  </div>
<% end %>
