<p id="notice"><%= notice %></p>

<p>
  <strong>Tid:</strong>
  <%= @schedule.time %>
</p>

<p>
  <strong>Lokal:</strong>
  <%= @schedule.rooms_id %>
</p>

<p>
  <strong>Utställare:</strong>
  <%= @schedule.exhibitors_id %>
</p>

<%= link_to 'Redigera', edit_schedule_path(@schedule) %> |
<%= link_to 'Tillbaka', schedules_path %>
