<p id="notice"><%= notice %></p>

<p>
  <strong>Namn:</strong>
  <%= @room.title %>
</p>
<% @schedules.each do |s| %>
    <% if s.rooms_id == @room.id%>
        <div class="row">

          <div class="col-xs-3"><%= s.time%></div>

          <% @exhibitors.each do |ex| %>
              <% if s.exhibitors_id == ex.id%>
                  <div class="col-xs-3"><%= ex.title %></div>
              <% end %>
          <% end %>


        </div>
    <% end %>
<% end %>

<%= link_to 'Redigera', edit_room_path(@room) %> |
<%= link_to 'Tillbaka', rooms_path %>
