<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="row">
  <div id="upphit" class="hidden-xs col-sm-3 col-sm-offset-9">
    <%= link_to exhibition_path, :class=>'button' do %>
      <%= image_tag('forbesokare_knapp.png', :class=> "exhibitorButton") %>
    <% end %>
  </div>
</div>

<div class="hidden-xs row">
  <div class="col-sm-6 col-sm-offset-3"  id="banner">
    <%= link_to exhibition_path, :class=>'button' do %>
      <%= image_tag('logo.png', :class=> 'logo')%>
    <% end %>
  </div>
</div>

<div class="row" id="container-start">
  <div class="hidden-xs col-sm-12" id="for_exhibitors_menu">
    <div class="row" id="menu_links">
      <div class="col-xs-2 col-xs-offset-3"><a href="#container-start"><p class="menu_links">Start</p></a></div>
      <div class="col-xs-2"><a href="#signboard-interest"><p class="menu_links">Anmälan</p></a></div>
      <div class="col-xs-2"><a href="#signboard-contact"><p class="menu_links">Kontakt</p></a></div>
    </div>
  </div>
</div>

<div class="hidden-sm hidden-md hidden-lg row navbar-fixed-top">
  <%= link_to exhibition_path, :class=>'dropdown-toggle', :data => {:toggle=>"dropdown", :target=>"#admin_menu"} do %>
      <div class="col-xs-2 dropdown" id="admin_menu">
        <%= image_tag('meny_utstallarsidan_mobil.png', :class=> 'dropdownmenu')%>
        <ul class="dropdown-menu">
          <div id="dropdownexhibitors" class="row">
            <div class="col-xs-offset-2 col-xs-10">
              <a  href="#container-start"><p class="visitText">Start</p></a>
              <a href="#signboard-interest"><p class="visitText">Anmälan</p></a>
              <a href="#signboard-contact"><p class="visitText">Kontakt</p></a>
            </div>
          </div>
        </ul>
  <% end %>
  </div>
  <div class="col-xs-10">
    <%= link_to exhibition_path, :class=>'button' do %>
        <%= image_tag('logga_framtidsmassan.png', :class=> 'logo')%>
    <% end %>
  </div>
</div>

<div class="row exhibitor-info">
  <div class="col-xs-offset-1 col-sm-offset-3 col-xs-10 col-sm-6"><p class="exhibitor-info-header"><%= @info.header %></p></div>
  <div class="col-xs-offset-1 col-sm-offset-3 col-xs-10 col-sm-6"><p class="exhibitor-info-content"><%= sanitize(@info.content) %></p></div>
</div>
<div id="signboard-interest" class="row">
  <div class="col-sm-3 hidden-xs">
    <%= image_tag('avgransare_anmalare.png', :class=>"delimiter") %>
  </div>
  <div id="mobilInterest"class=" col-xs-4 hidden-sm hidden-md hidden-lg">
    <p class="delimiter_title">Anmälan</p>
  </div>
</div>

<div class="row interest interest-info">
  <div class="col-xs-offset-1 col-sm-offset-3 col-sm-6 col-xs-10"><p class="interest-info-header">Vill ni ställa ut på Framtidsmässan?</p></div>
  <div class="col-xs-offset-1 col-sm-offset-3 col-sm-6 col-xs-10"><p class="interest-info-content">Ifall ni är intresserade av att ställa ut på Framtidsmässan Karlshamn så kan ni skriva eran mailadress i fältet under så kommer vi att skicka ett anmälnings formulär till er att fylla i.</p></div>
</div>

<div class="row interest"
<%= form_for(Email.new) do |f| %>
    <div class="col-xs-offset-1 col-sm-offset-3 col-xs-10 col-sm-6 field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
    <div class="col-xs-offset-1 col-sm-offset-3 col-xs-10 col-sm-6 actions">
      <%= f.submit %>
    </div>
<% end %>
</div>
<div class="row interest-unactive interest-info">
  <div class="col-xs-offset-1 col-sm-offset-3 col-sm-6 col-xs-10"><p class="interest-info-header">Vill ni ställa ut på Framtidsmässan?</p></div>
  <div class="col-xs-offset-1 col-sm-offset-3 col-sm-6 col-xs-10"><p class="interest-info-content">Ansökningen till årets framtidsmässa är nu stängd. Om några månader öppnar ansökan igen.</p></div>
</div>

<div id="signboard-contact" class="row">
  <div class="col-sm-3 hidden-xs">
    <%= image_tag('avgransare_kontakt.png', :class=>"delimiter") %>
  </div>
  <div id="mobilContact"class=" col-xs-4 hidden-sm hidden-md hidden-lg">
    <p class="delimiter_title">Kontakt</p>
  </div>
</div>

<div class="row contacts hidden-xs hidden-sm">
  <div class="col-md-4 col-md-offset-3"><p class="contact-header"><%= @contact1.name %></p></div>
  <div class="col-md-4"><p class="contact-header"><%= @contact2.name %></p></div>

  <div class="col-md-offset-3 col-md-4"><p class="contact-telephone"><%= @contact1.telephone_number %></p></div>
  <div class="col-md-3"><p class="contact-telephone"><%= @contact2.telephone_number %></p></div>


  <div class="col-md-offset-3 col-md-4"><p class="contact-mail"><%= @contact1.email %></p></div>
  <div class="col-md-4"><p class="contact-mail"><%= @contact2.email %></p></div>
</div>
<div class="row contacts-sm hidden-md hidden-lg">

  <div class="col-xs-offset-1 col-xs-11 col-sm-9 col-sm-offset-3"><p class="contact-header"><%= @contact1.name %></p></div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-9"><p class="contact-telephone"><%= @contact1.telephone_number %></p></div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-9"><p class="contact-mail"><%= @contact1.email %></p></div>


  <div class="col-xs-offset-1 col-xs-11 col-sm-9 col-sm-offset-3"><p class="contact-header"><%= @contact2.name %></p></div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-9"><p class="contact-telephone"><%= @contact2.telephone_number %></p></div>
  <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-9"><p class="contact-mail"><%= @contact2.email %></p></div>
</div>
<div class="row contact-address-row">
  <div class="col-md-4 col-sm-offset-3 col-xs-offset-1"><p class="contact-header">Postadress</p></div>
  <div class="col-md-4 col-sm-offset-3 col-xs-offset-1"><p id="text-address"><%= @address.municipality %></p></div>
  <div class="col-md-4 col-sm-offset-3 col-xs-offset-1"><p class="text-address"><%= @address.company %></p></div>
  <div class="col-md-4 col-sm-offset-3 col-xs-offset-1"><p class="text-address"><%= @address.address %></p></div>
  <div class="col-md-4 col-sm-offset-3 col-xs-offset-1"><p class="text-address"><%= @address.post_number_and_city %></p></div>
</div>



<div id="container-end-for-exhibitors" class="row hidden-xs">
  <%= link_to "https://twitter.com/Framtidsmassan" do %>
    <div id="twitter" class="col-xs-1 col-xs-offset-9 social_button">
      <%= image_tag('twitter_ikon.png', :class=> 'socialButtonImage') %>
    </div>
  <% end %>

  <%= link_to "http://instagram.com/framtidsmassan" do %>
    <div id="instagram" class="col-xs-1 social_button">
      <%= image_tag('instagram_ikon.png', :class=> 'socialButtonImage') %>
    </div>
  <% end %>
  <%= link_to  "https://www.facebook.com/pages/Framtidsm%C3%A4ssan-Karlshamn/611075925630143" do %>
    <div id="facebook" class="col-xs-1 social_button">
      <%= image_tag('facebook_button.png', :class=> 'socialButtonImage') %>
    </div>
  <% end %>

</div>


<div id="container-end-xs-for-exhibitors" class="row hidden-sm hidden-md hidden-lg">

  <div id="upphit" class="col-xs-4">
    <%= link_to exhibition_path, :class=>'button' do %>
        <%= image_tag('knapp_forbesokare.png', :class=>'forutstallareKnappXs' ) %>
    <% end %>
  </div>
  <%= link_to  "https://twitter.com/Framtidsmassan" do %>
      <div id="twitter" class="col-xs-1 col-xs-offset-4 social_button">
        <%= image_tag('twitter_ikon.png', :class=> 'socialButtonImage') %>
      </div>
  <% end %>
  <%= link_to "http://instagram.com/framtidsmassan" do %>
      <div id="instagram" class="col-xs-1 social_button">
        <%= image_tag('instagram_ikon.png', :class=> 'socialButtonImage') %>
      </div>
  <% end %>
  <%= link_to  "https://www.facebook.com/pages/Framtidsm%C3%A4ssan-Karlshamn/611075925630143" do %>
      <div id="facebook" class="col-xs-1  social_button">
        <%= image_tag('facebook_button.png', :class=> 'socialButtonImage') %>
      </div>
  <% end %>
</div>


<div class="row UpAgain">
  <%= link_to  "#container-start", :class=> 'social_button' do %>
      <div href="#upphit" id="UpAgainDiv2" class="col-sm-1 col-sm-offset-10 hidden-xs UpAgain navbar-fixed-bottom">
      </div>
  <% end %>
</div>

